.card-component {
  display: flex;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;

    li {
      padding: 10px;
      border-bottom: 1px solid #ccc;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
